body {
    margin-top: 50px;
    padding-top: 20px;
    background-color: #694430;
    text-align: center;
}

.contentBox {
    width: 40%;
    height: 300px;
    background-color: #ca5c21;
    border: 5px solid #000000;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .contentBox {
        width: 60%;
        height: 400px;
        background-color: #ca5c21;
        border: 5px solid #000000;
        text-align: center;
        margin: auto;
    }
    
    input {
        font-size: 16px;
    }
    
    button {
        margin-top: 5px;
        padding: 1px 20px 1px 20px;
    }
}
